/* Global styles */ 
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9fafb;
}

body { min-height: 100vh; }

a { color: inherit }

p { margin: 0 0 1em 0 }
/*  */

/* Main header */
.main-header {
  color: white;
  background: url("../images/bg-img-Halie-West.jpg") center/cover;
  padding: 2rem 0;
  position: relative;
}

.main-header h1 {
  font-family: Norse;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .4);
  margin: 0;
  padding-top: .25em;
  padding-bottom: .25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header img { height: 1.4em; }

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 2px 0;
  text-align: center;
  font-size: .75rem;
}
/*  */

/* Content */
.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cta-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.content > .cta-text {
  margin-left: 3rem;
  margin-right: 3rem;
  max-width: 750px;
}

.content > .cta-text:nth-child(2) { margin-bottom: clamp(1em, 10vh, 3em); }

/* Form */
.content form {
  padding: 1rem 3rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem -.5rem gray;
  margin-bottom: 2rem;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 6rem;
  width: min(100%, 600px);
}

.form-fields label {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  margin-bottom: .2em;
}

.form-fields input {
  box-sizing: border-box;
  width: 100%;
  border-radius: .25em;
  border: 1px solid #E5E7EB;
  padding: .3em .6em;
}

.form-fields input:focus {
  outline: none;
  border-color: #274ed4;
  box-shadow: .1em .1em .2em 0 lightgray;
}

.form-fields input.error { border-color: #b90000; }

.form-fields input + div[data-for-input] {
  visibility: hidden;
  font-size: .7em;
  color: #b90000;
}

.form-fields input + div[data-for-input]:before { content: "* "; }

.form-fields input.error + div[data-for-input] { visibility: visible; }

button {
  background-color: #596D48;
  border: none;
  border-radius: .25em;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 1em 3em;
  margin-left: 3rem;
  margin-bottom: 2em;
  box-shadow: .3rem .3rem .3rem rgba(0,0,0,.2);
}

button:hover {
  background-color: #627610;
  box-shadow: .2rem .2rem .3rem rgba(0,0,0,.4);
}

button + p { margin-left: 3rem; }
button + p a {
  color: #596D48;
  font-weight: bold;
}
button + p a:hover { color: #627610; }
/*  */

@media screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .main-header {
    padding-top: calc((100vh - 8rem) * .27);
    padding-bottom: 0;
  }

  .content {
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .form-fields {
    grid-template-columns: 1fr;
  }
}
